@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #10B981; border-radius: 4px; }
